/*IMPORTAZIONE DEL FONT PERSONALIZZATO*/

@font-face {
    font-family: Xfont;
    src: url(../Fonts/Arcon-Regular.otf);
}

/* CARICO LE ICONE GOOGLE IN LOCALE */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    src: url(../iconeBigG/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../iconeBigG/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../iconeBigG/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../iconeBigG/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}


/*STILE GENERALE*/

html,
body {
    background-color: rgb(250, 250, 250);
    /*COLORE SFONDO*/
    margin: 0;
    /*TOLGO SPAZI INUTILI*/
    padding: 0;
    font-family: Xfont;
    /*IMPOSTO IL FONT*/
}


/*STILE TOPBAR*/

#topBar {
    top: 0;
    /*LA FISSO IN ALTO*/
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*OMBRA DEL BOX*/
    background-color: rgb(255, 255, 255);
    /*COLORE DI SFONDO*/
}


/*CONTENUTO DELLA TOPBAR*/

#contenutoTopBar {
    display: block;
    top: 0;
    height: 50px;
    width: 65%;
    margin: 0 auto;
    /*CENTRO IL CONTENUTO*/
}

#contenitoreLogo {
    display: inline-block;
    height: 100%;
    width: 80%;
}


/*CONTENITORE DELL'ICONA PER IL MENU*/

#iconaMenu {
    top: 0;
    height: 50px;
    width: 10%;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: left;

    /*FISSO A SINISTRA*/
}

/*PRONTI A FARE FUOCO*/
/*CONTENITORE ICONA RICERCA*/

#iconaSearch {
    top: 0;
    height: 50px;
    width: 10%;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: right;

    /*FISSO A DESTRA*/
}

#iconaMenu:hover,
#iconaSearch:hover {
    background-color: rgb(235, 235, 235);
}

#main {
    display: inline-block;
    width: 100%;
    height: auto;
}

#boxContainer {
    display: block;
    margin: 0 auto;
    height: inherit;
    width: 65%;
    margin-top: 50px;
}

.box {
    height: 300px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-top: 40px;
    /*border-radius: 15px;*/
}

.box:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.titoloBox {
    width: 100%;
    height: 15%;
    display: block;
    background-color: rgb(235, 235, 235);
    /*border-radius: 15px 15px 0px 0px;*/
}

.contenutoBox {
    width: 100%;
    height: 85%;
    display: block;
    background-color: rgb(255, 255, 255);
    /*border-radius: 0px 0px 15px 15px;*/
}

#footer {
    margin-top: 60px;
    width: 100%;
    height: 350px;
    display: inline-block;
    background-color: rgb(235, 235, 235);
}

#contenutoFooter {
    height: 80%;
    width: 65%;
    display: block;
    top: 100px;
    margin: 0 auto;
}

#testoFooter {
    display: inline-block;
    width: 100%;
    height: 200px;
}

#pFooter {
    text-align: center;
    font-size: 120%;
    margin-top: 50px;
    text-shadow: 1px 1px 0px rgba(80, 80, 80, 0.3);
}