/*IMPORTAZIONE DEL FONT PERSONALIZZATO*/

@font-face {
    font-family: Xfont;
    src: url(../../Fonts/Arcon-Regular.otf);
}


/*STILE GENERALE*/

html,
body {
    background-color: #303030;
    /*COLORE SFONDO*/
    margin: 0;
    /*TOLGO SPAZI INUTILI*/
    padding: 0;
    font-family: Xfont;
    z-index: 0;
    /*IMPOSTO IL FONT*/
}

/*SCURIMENTO PAGINA*/
#coperturaPag{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
#menuLaterale{
    height: 100%;
    width: 0%;
    display: block;
    z-index: 2;
    position: fixed;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #424242;
}

/*STILE TOPBAR*/

#topBar {
    top: 0;
    /*LA FISSO IN ALTO*/
    position: fixed;
    display: inline-block;
    z-index: 2;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*OMBRA DEL BOX*/
    background-color: #424242;
    /*COLORE DI SFONDO*/
}


/*CONTENUTO DELLA TOPBAR*/

#contenutoTopBar {
    display: block;
    top: 0;
    height: 50px;
    width: 65%;
    margin: 0 auto;
    /*CENTRO IL CONTENUTO*/
}

#contenitoreLogo {
    display: inline-block;
    height: 100%;
    width: 80%;
}


/*CONTENITORE DELL'ICONA PER IL MENU*/

#iconaMenu {
    top: 0;
    height: 50px;
    width: 10%;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: left;
    /*FISSO A SINISTRA*/
}

#apriMenu {
    margin-top: 15px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    color: white;
}
#ricerca{
    margin-top: 15px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    float: right;
    margin-right: 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    color: white;
}
#ricerca:hover, #apriMenu:hover{
    color: rgb(33,150,243);
}


/*CONTENITORE ICONA RICERCA*/

#iconaSearch {
    top: 0;
    height: 50px;
    width: 10%;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: right;
    /*FISSO A DESTRA*/
}

#main {
    display: inline-block;
    width: 100%;
    height: auto;
}

#boxContainer {
    display: block;
    margin: 0 auto;
    height: inherit;
    width: 65%;
    margin-top: 50px;
}

.box {
    height: auto;
    width: 100%;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-top: 40px;
    /*border-radius: 15px;*/
}

.box:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.titoloBox {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #151515;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*border-radius: 15px 15px 0px 0px;*/
}

.testoTitolo {
    height: 100%;
    display: block;
    width: 95%;
}

.chiudiBox {
    display: block;
    height: 100%;
    width: 5%;
}

.expand {
    float:right;
    margin-top: 13px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}

.contenutoBox {
    width: 100%;
    height: 250px;
    display: block;
    background-color: #424242;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*border-radius: 0px 0px 15px 15px;*/
}

#footer {
    margin-top: 60px;
    width: 100%;
    height: 350px;
    display: inline-block;
    background-color: #151515;
}

#contenutoFooter {
    height: 80%;
    width: 65%;
    display: block;
    top: 100px;
    margin: 0 auto;
}

#testoFooter {
    display: inline-block;
    width: 100%;
    height: 200px;
}

#pFooter {
    text-align: center;
    font-size: 120%;
    color: white;
    margin-top: 50px;
    text-shadow: 1px 1px 0px rgba(80, 80, 80, 0.3);
}