/*IMPORTAZIONE DEL FONT PERSONALIZZATO*/

@font-face {
    font-family: Xfont;
    src: url(../../Fonts/Arcon-Regular.otf);
}

/*Stabilisco alcune variabili fisse*/

:root {
    --colore-primario: rgb(33, 150, 243);
    --colore-di-sfondo: rgb(250, 250, 250);
    --colore-box: rgb(255, 255, 255);
    --colore-barre: rgb(235, 235, 235);
    --colore-ombra: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --colore-ombra-hover: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --colore-copertura: rgba(0, 0, 0, 0.5);
}

/*STILE GENERALE*/

html,
body {
    background-color: var(--colore-di-sfondo);
    /*COLORE SFONDO*/
    margin: 0;
    /*TOLGO SPAZI INUTILI*/
    padding: 0;
    font-family: Xfont;
    z-index: 0;
    height: auto;
    /*IMPOSTO IL FONT*/
}

/*SCURIMENTO PAGINA*/

#coperturaPag {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    z-index: 1;
    background-color: var(--colore-copertura);
    display: none;
}

#menuLaterale {
    height: 100%;
    width: 0%;
    display: block;
    z-index: 2;
    position: fixed;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    box-shadow: var(--colore-ombra);
    background-color: var(--colore-box);
}

/*STILE TOPBAR*/

#topBar {
    top: 0;
    /*LA FISSO IN ALTO*/
    position: fixed;
    display: inline-block;
    z-index: 2;
    width: 100%;
    height: 50px;
    box-shadow: var(--colore-ombra);
    /*OMBRA DEL BOX*/
    background-color: var(--colore-di-sfondo);
    /*COLORE DI SFONDO*/
}


/*CONTENUTO DELLA TOPBAR*/

#contenutoTopBar {
    display: block;
    top: 0;
    height: 50px;
    width: 65%;
    margin: 0 auto;
    /*CENTRO IL CONTENUTO*/
}

#contenitoreLogo {
    display: inline-block;
    height: 100%;
    width: 80%;
}


/*CONTENITORE DELL'ICONA PER IL MENU*/

#iconaMenu {
    top: 0;
    height: 50px;
    width: 10%;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: left;
    /*FISSO A SINISTRA*/
}

#apriMenu {
    margin-top: 15px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#colore {
    margin-top: 15px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    float: right;
    margin-right: 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#colore:hover,
#apriMenu:hover {
    color: var(--colore-primario);
}


/*CONTENITORE ICONA RICERCA*/

#iconaColori {
    top: 0;
    height: 50px;
    width: 10%;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    float: right;
    /*FISSO A DESTRA*/
}

#main {
    display: inline-block;
    width: 100%;
    height: auto;
}

#boxContainer {
    display: block;
    margin: 0 auto;
    height: inherit;
    width: 65%;
    margin-top: 50px;
}

.box {
    height: auto;
    width: 45%;
    display: inline-block;
    box-shadow: var(--colore-ombra);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin-top: 40px;
    /*border-radius: 15px;*/
}

#box1,
#box3 {
    margin-left: 30px;
    margin-right: 40px;
}

.box:hover {
    box-shadow: var(--colore-ombra-hover);
}

.titoloBox {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--colore-barre);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*border-radius: 15px 15px 0px 0px;*/
}

.testoTitolo {
    height: 100%;
    display: block;
    width: 95%;
}

.chiudiBox {
    display: block;
    height: 100%;
    width: 5%;
}

.expand {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    cursor: pointer;
}

.contenutoBox {
    width: 100%;
    height: 250px;
    display: block;
    background-color: var(--colore-box);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*border-radius: 0px 0px 15px 15px;*/
}

#footer {
    margin-top: 60px;
    width: 100%;
    height: 300px;
    display: inline-block;
    background-color: var(--colore-barre);
}

#contenutoFooter {
    height: 80%;
    width: 65%;
    display: block;
    top: 100px;
    margin: 0 auto;
}

#testoFooter {
    display: inline-block;
    width: 100%;
    height: 100px;
}

#pFooter {
    text-align: center;
    font-size: 120%;
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {

    #contenutoTopBar {
        width: 100%;
    }

    #iconaColori,
    #iconaMenu {
        width: 20%;
    }

    #contenitoreLogo {
        width: 60%;
    }
    #apriMenu {
        margin-left: 20px;
    }
    #colore {
        margin-right: 20px;
    }

    .box {
        width: 100%;
    }

    #box1,
    #box3 {
        margin-left: 0px;
        margin-right: 0px;
    }
}